head{
text-align:center;  
font-size: 50%;
margin: 100px auto;
}


body{
text-align:center;
background-size: 1000px;
}

.paragraphs{
line-height:20px ;   
/*text-decoration: blink;*/
/*text-decoration: overline; */
/*border-width: 1px;*/
/*border-radius: 50%;*/
/*border-style: dotted;*/

}

.check{
    display: inline-block;  
    /*width: 15px;  */
    /*height: 15px;  */
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    border-radius: 4px;  
}

mark {
background-color:2EB0A9;
color: white;
padding:1.5px;
}
