body{
height:100%;
width:100%;
background-color:white;
margin:0 auto;
}

#button {
    width:115px;
    height:115px;
    position:absolute;
    left:45%;
    top:70%;
    background-image:url(../img/subway.gif);
    background-repeat:no-repeat;
    z-index:2;
}

.container{
    
    }
    


