body{
height:100%;
width:100%;
background-color:eee;
margin:0 auto;

}

#gif {
    width:115px;
    height:115px;
    position:absolute;
    left:45%;
    top:70%;
    background-image:url(../g.png);
    background-repeat:no-repeat;
}
    
#gif:hover {
    cursor:pointer; 
	background:url(../subway.gif);

}
