html, body {
	font-family: 'helvetica', 'arial', sans-serif;
	background-color: #eee;
    height:100%;
    padding:0;
    margin:0;
    background: #fff;
    color:#000000;
}


#wrapper{
    width:960px;
    height:100%;
     margin:0 auto;

}
    

#all{
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.folders1{
    position:relative;
    width:650px;
    margin:0 auto;
    z-index:1;
    margin-bottom:-350;
    margin-top:80px;
    padding-top:-20px;
}


.folders1:hover{
    position:relative;
    bottom:60px;
    width:650px;
    margin:0 auto;
    z-index:1;
    margin-bottom:-350;
    margin-top:80px;
    
}

.folders2{
    position:relative;
    width:650px;
    margin:0 auto;
    z-index:2;
    margin-bottom:-350;

    
}

.folders2:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:2;
    margin-bottom:-350;
}

.folders3{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:3;
}

.folders3:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:3;
    margin-bottom:-350;
}


.folders4{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:4;
}

.folders4:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:4;
    margin-bottom:-350;
}



.folders5{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:5;
}

.folders5:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:5;
    margin-bottom:-350;
}


.folders6{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:6;
}

.folders6:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:6;
    margin-bottom:-350;
}


.folders7{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:7;
}

.folders7:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:7;
    margin-bottom:-350;
}



.folders8{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:8;
}

.folders8:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:8;
    margin-bottom:-350;
}


.folders9{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:9;
}

.folders9:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:9;
    margin-bottom:-350;
}



.folders10{
   position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:10;
}

.folders10:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:10;
    margin-bottom:-350;
}



.folders11{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:11;
}

.folders11:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:11;
    margin-bottom:-350;
}


.folders12{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:12;
}

.folders12:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:12;
    margin-bottom:-350;
}



.folders13{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:13;
}

.folders13:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:13;
    margin-bottom:-350;
}


.folders14{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:14;
}

.folders14:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:14;
    margin-bottom:-350;
}



.folders15{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:15;
}

.folders15:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:15;
    margin-bottom:-350;
}


.folders16{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:16;
}

.folders16:hover{
    position:relative;
    bottom:70px;
    width:650px;
    margin:0 auto;
    z-index:16;
    margin-bottom:-350;
}


.folders17{
    position:relative;
    margin:0 auto;
    width:650px;
    margin-bottom:-350;
    z-index:17;
}


.folders17:hover{
    position:relative;
    width:650px;
    margin:0 auto;
    z-index:17;
    margin-bottom:-350;
}



