body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  margin:0;
  font-size:0;
  background-repeat:repeat-x;
}

.container{
  width:100%;
  height:100%;
  background-color:white;
  margin:0 auto;
}


.column1{
  width:33.3%;
  height:100%;
  display:inline-block;
  }
  
.column2{
  width:33.3%;
  height:100%;
  display:inline-block;
  }
  
.column3{
  width:33.3%;
  height:100%;
  display:inline-block;
  }


.box{
  position:relative;
  width:100%;
  display:inline-block;
  margin:0 auto;

}
	
.box img {
  max-width:100%;
  
}
	
.button{
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 65%;
  right: 46%;
  color: white;
  line-height: 100px;
  text-align: center;
  z-index: 1000;
}



