body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: visible;
  margin:0;
  font-size:0;
  background-repeat:repeat-x;
  overflow-x: hidden;
 
  
}

.container{
  width:100%;
  height:100%;
  background-color:white;
  margin:0 auto;
}

.box{
  width:300px;
  display:inline-block;
  margin:0 auto;

}
	
.box img {
  max-width:100%
  
}
	
.button{
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 70%;
  right: 45%;
  color: white;
  line-height: 100px;
  text-align: center;
  z-index: 1000;
}



